<!DOCTYPE html>
<html>
<head>
    <title>MuniDash</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.1.0/dist/leaflet.css"/>
    <style>
        body {
            padding: 0;
            margin: 0;
        }
        html, body, #map {
            height: 100%;
            width: 100%;
        }

    </style>
</head>
<body>
<div id="map"></div>
<script src="https://unpkg.com/leaflet@1.1.0/dist/leaflet.js"
        integrity="sha512-mNqn2Wg7tSToJhvHcqfzLMU6J4mkOImSPTxVZAdo+lcPlk+GhZmYgACEe0x35K7YzW1zJ7XyJV/TT1MrdXvMcA=="
        crossorigin=""></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.heat/0.2.0/leaflet-heat.js">
</script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

<script>

        var map = L.map('map').setView([37.757921, -122.434762], 13);
        mapLink =
            '<a href="http://openstreetmap.org">OpenStreetMap</a>';
        L.tileLayer(
            'http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; ' + mapLink + ' Contributors',
            maxZoom: 18,
            }).addTo(map);

        $.get('/all_vehicles.json', function(data){
            var vehicles = [];

            $.each(data, function(i, d) {
                vehicles.push([d.lat, d.lon, 10]);
            });

            var heat = L.heatLayer(vehicles, {radius: 25}).addTo(map);
        });


         {% for vehicle in vehicles %}
{#             var marker = L.marker([{{ vehicle.lat }}, {{ vehicle.lon }}]).#}
{#             bindTooltip("{{ vehicle.route_tag }}", {"permanent": false, "direction": "top"}).#}
{#             addTo(map);#}
             {% endfor %}



</script>
</body>
</html>